.exercises {
    display: flex;
    list-style: none;
    align-items: stretch;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: center;
}

.card {
    display: flex;
    flex-direction: column;
    margin: 2rem;
    padding: 2rem;
    color: rgb(0, 0, 0);
    width: 18rem;
    background-color: #fdfdfd;
    align-items: center;
    justify-content: space-between;
}

.card img {
    width: 10rem;
}

.exerciseName {
    font-size: large;
    font-weight: bold;
    letter-spacing: 0.1rem;
    margin: 1rem;
    text-align: center;
}

.description {
    font-size: small;
}

button.like-button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 16px;
}
