* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-verde: rgb(170, 246, 93);
}

body {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    font-family: "Inter", sans-serif;
}

header {
    display: flex;
    font-weight: 200;
    flex-direction: column;
    margin: 1rem;
    gap: 1rem;
    font-size: x-small;
    align-items: center;
}

.logo {
    display: flex;
    gap: 1rem;
}

header img {
    width: 8rem;
}

#searchbar input {
    padding: 0.1rem;
    background-color: rgb(0, 0, 0);
    border: 0.1rem solid;
    border-radius: 9%;
    border-color: var(--color-verde);
    color: white;
}

#searchbar button {
    font-family: "Inter", sans-serif;
    border: none;
    background: none;
    color: var(--color-verde);
    font-size: smaller;
}

h2 {
    color: var(--color-verde);
    font-family: "Roboto Mono", monospace;
    font-weight: 400;
    text-transform: uppercase;
}

#entrenamientos {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

#entrenamientos li {
    margin: 0.5rem;
    display: flex;
    flex-direction: column;
}

.card img {
    object-fit: cover;
    width: 100%;
    height: auto;
}

.card div {
    color: rgb(0, 0, 0);
    padding: 1rem;
    background-color: rgb(255, 255, 255);
    font-weight: 600;
    font-size: small;
}

main {
    margin: 2rem;
}

#navegacion {
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 1rem;
    background-color: var(--color-verde);
    color: black;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    list-style: none;
    font-size: x-small;
    text-align: right;
}
