@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500&family=Roboto+Mono:wght@100;300;400;500&display=swap");

html,
body {
    margin: 0;
    padding: 0;
}

/* Estilos para la página principal */
.page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #fdfdfd;
    overflow: hidden;
    width: 100vw;
    position: relative;
}

/* Estilos para el contenido de la página */
.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 90px 20px 50px;
    width: 100%;
}

/* Contenedor principal centrado en la página */
.container {
    width: 100vw;
    box-sizing: border-box;
}

/* Contenedor para los ejercicios */
.exercises-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    grid-gap: 2vw;
    justify-items: center;
    width: 100vw;
    padding-bottom: 3vw;
}

/* Estilo para cada ejercicio */
.exercise {
    position: relative;
    width: 200px;
    height: 200px;
    text-align: center;
    border: 1px solid greenyellow;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    margin: 1rem;
}

/* Estilo para la imagen */
.exercise img {
    width: 200px;
    height: 150px;
    object-fit: contain;
    border-radius: 10px;
    margin: auto;
    padding-bottom: 15px;
}

/* Estilo para el nombre */
.exercise p:nth-child(2) {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    margin: 0;
    font-family: monospace, sans-serif;
    font-weight: bold;
    font-size: 12px;
    padding: 5px 0;
    color: rgb(3, 3, 3);
}

/* Estilo para los likes totales */
.exercise p:nth-child(3) {
    margin: 5px 0;
}

/* Establecer el número de columnas según el ancho de la pantalla */
@media screen and (max-width: 400px) {
    .exercises-container {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media screen and (min-width: 768px) {
    .exercises-container {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (min-width: 920px) {
    .exercises-container {
        grid-template-columns: repeat(4, 1fr);
    }
}

/* Estilos para el botón de like/dislike */
.like-button {
    position: absolute;
    bottom: 150px;
    left: 130px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 16px;
    margin: 5px;
}
