form.exerciseForm ul {
    display: none;
}

form ul.open {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    padding: 1rem;
}

button.add {
    width: 1.5rem;
    background: none;
    margin: 1rem;
}
